body {
    height: 100vh;
    background-color: wheat;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 500px;
    height: 500px;
}